.p { 
color: #fff; 
font-size: 40px; 
font-weight: bolder; 
line-height: 200%; 
text-shadow: #000000 0px 1px 1px;
animation-duration: 8s;
animation-name: slidein;
animation-iteration-count: infinite;
}
@keyframes slidein {
  from {
    margin-left: 0%;
    width: 10%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
